@import '../imports/styles/colors';
@import '../imports/styles/login-register';
@import '../imports/styles/donuts';


//sets global font, color, and background
body {
  font-family: sans-serif;
  color: $dark-font;
  background-color: $light-grey;
}
