.main-heading {
  font-size: 3em;
  margin: 25px auto;
  max-width: 50%;
  text-align: center;
}

.content-wrapper {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 100%;
  margin: 5% 10%;
  padding: 5%;
  background-color: white;
  border-radius: 10px;
}

.divider {
  width: 1.5px;
  margin: 6px 0;
  background: $dark-grey;
}

.credential-form  {
  * {
    margin: .5em 0;
  }

  button {
    width: 100%;
    padding: 1em;
    background-color: $cyan;
    border: none;
    color: $light-font;
    border-radius: 7.5px; 
    &:active {
      background-color: darken($cyan, 10); 
    }
  }

  input {
    width: 100%;
    background-color: $dark-grey;
    padding: 1em;
    border: none;
    box-sizing: border-box;
    border-radius: 7.5px; 
    &:placeholder {
      color: $med-font;
    }
  }
}

.error-field {
  background-color:$error-bg;
  padding: 10px;
  border-radius: 5px;
  color:$error-font;
}